@import url('../css//common.css');

.calculation-container{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.subcalculation{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1000px;
}

.calculation-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 35px;
    border: 2px solid var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 20px;
    width: 100%;
    min-width: 640px;
    max-width: 100%;
    margin: auto;
}

.calculation-title{
    grid-column: span 2;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    position: relative;
}

.calculation-title h5{
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 7px;
    font-weight: 300;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    top: 70%;
    /* Center vertically */
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    text-align: left;
}

@media (max-width: 768px) {
    .subcalculation{
      width: 50%;
    }
  
    .calculation-form{
      grid-template-columns: 1fr;
      min-width: 31vh;
      gap: 10px;
    }
  
    .calculation-title {
      grid-column: span 1;
      justify-content: left;
    }
  
    .calculation-title h5 {
      font-size: 15px;
      padding: 10px;
      width: auto;
      position: static;
      transform: none;
      text-align: left;
    }
  
    
    
  }
  